argparse
easydict
h5py
matplotlib
numpy
open3d
opencv-python
pyyaml
scipy
tensorboardX
timm
tqdm
transforms3d
trimesh
tensorboard 
plyfile 
open3d 
scikit-image 
python-mnist 
opencv-python  
pykdtree 
ipdb